@model ManagementPanel_.Model.Models.User

<!-- Modal content -->
<div class="modal-content" id="myModal">
    <div class="modal-header">
        <h4>Kullanıcı Düzenle</h4>       
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <input type="hidden" id="ID" value="@Model.ID">
                <div class="form-group">
                    <label class="col-md-2 ml-20">Ad: </label>
                    <div class="col-md-8 input-group">
                        <input type="text" class="form-control" id="Name" maxlength="50" required value="@Model.Name">
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 ml-20">Soyad: </label>
                    <div class="col-md-8 input-group">
                        <input type="text" class="form-control" id="Surname" maxlength="50" required value="@Model.Surname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 ml-20"> Şifre:  </label>
                    <div class="col-md-8 input-group">
                        <input type="password" class="form-control" id="Password" maxlength="50" required value="@Model.Password">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-8 input-group">
                        &emsp;&ensp; <input type="checkbox" onclick="passwordShowHide2()">&ensp; Şifreyi Göster
                    </div>
                </div>
            </div>
            <div class="col-md-6">


                <div class="form-group">
                    <label class="col-md-4 ">Email: </label>
                    <div class="col-md-8 input-group">
                        <input type="email" class="form-control" id="Email" maxlength="50" required value="@Model.Email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 ">Telefon Num: </label>
                    <div class="col-md-8 input-group">
                        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" id="Phone" maxlength="10" required value="@Model.Phone">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 ">Doğum Tarihi: </label>
                    <div class="col-md-8 input-group">
                        <input type="date" class="form-control" id="Date" required value="@Model.Date.ToString("yyyy-MM-dd")" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-6" style="padding-right: 5px;">
                <button class="btn btn-info" onclick="Control()">Güncelle</button>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-6" style="padding-left: 5px;">
                <button class="btn btn-danger" title="" onclick="spanClick()">İptal</button>
            </div>
        </div>
    </div>
</div>